<p class="karma-text"> Air Quality for Today</p>
<div class="row aq-row" align="center">
  <div style="float:left;"> <%= @html_icon %></div>
  <div style="float:right; padding:0px;" align="middle"><h1 class="profile-text"><%= @category %></h1></div>
</div>
<div class="row weather-row" align="center">
 <div id="cont_e8329cb2c79900067fe6fea575b0bdee">
  <span id="h_e8329cb2c79900067fe6fea575b0bdee"><a href="http://www.theweather.com/salt-lake-city.htm" target="_blank" style="color:#ffffff; font-family:3; font-size:14px;">Wasatch Front Weather</a></span>
  <script type="text/javascript" src="http://www.theweather.com/wid_loader/e8329cb2c79900067fe6fea575b0bdee"></script>
</div></div>
