<!-- Team Profile Partial -->
<h3> Team Profile </h3>
<div class="team-box">
  <!-- <h3 class="profile-text">Team <#%= @user.team.name %></li> -->
  <!-- <h4 class="profile-text">Rank <#%= @user.team.rank %></li> -->
  Coming Soon....
</div>
