<!-- Air Quality Partial -->

<div class="aq-container">
  <h3><center>Air Quality</center></h3>
  <div class="aq-box">
    <h5><center>Today's Air Quality:</center></h5>
      <%= image_tag("redlight.png",
                    :class => "traffic-light") %><br>
      <h4 style="color: #FF0000;"><center>UNHEALTHY</center></h4>
      <h5><center>Action Day</center><h5>
        </div>
 </div>
