<!-- About Page -->
<div class="page_spacing">
  <div class="about-page" style="color:white;">
    <center><h2 style="color:white;">It's Simple and Easy to Use!</h2>
    <p class="about-text" style="text-align:center;">All you need is an Android device.</p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/8rS9tICTMG8" frameborder="0" allowfullscreen></iframe>
    <br>
    
    Click Here To Download Android App:<a href="https://www.dropbox.com/s/hgvcllogmlprn5w/TTT%202.5.apk?n=16301180"><li style="color:#92B83E; font-size:75px;" class="fa fa-android"></li></a>
  </center>

  </div>
  <div class="about-page">
    <center><h2 style="color:white;">Our Mission</h2></center>
      <p class="about-text">Utah is well known for its fresh powdery snow, rugged mountains, 
      and an abundance of outdoor activities for all to enjoy.  However, it all comes at a price.
      For any resident who 
      has spent even one winter in this gorgeous valley environment, one thing we can all 
      agree on is that our air quality can be downright dismal during an inversion.  This is
      where Turn the Tide comes in.  Our project’s mission is to “turn the tide” against increasing
      pollution as Utah’s population grows.  It is an Android tracking application and 
      website interface committed towards increasing commuter awareness of the many alternatives 
      to driving a car in the Wasatch Front. With our project, we want Utahns to realize that
      it is simple and easy to take steps towards reducing pollution without sacrificing any of the 
      great lifestyle that comes with living in such a beautiful location.</p>
    <h4 style="color:white;">The Animal Points System</h4>
    <p class="about-text">The animal leveling and points system is based on animals that live within
    the Rocky Mountains of the United States.  By incorporating these animals, we hope users of our application
    are more committed towards helping our local environment by reducing their pollution.  As you level up, 
    you will encounter some of the most unique and beautiful animals who call our region home.</p>
  </div>
    <div class="about-page">
    <center><h2 style="color:white;">About Turn the Tide</h2></center>
    <p class="about-text">Turn the Tide was developed as a senior project by Team A-F14 for the School of Computing
    at the University of Utah.  With special thanks to Kerry Kelly, a research associate at the Institute of Secure
    & Clean Energy at the U of U, and her insight and expertise about Utah's air quality, we decided to create an 
    application that would provide a step towards solving a real-life problem.  As residents of the Wasatch Front, each member of the team
    is familiar with the inversions that descend upon the valleys during the winter.  This provided us with a common 
    goal of clearing our air; one where we hope that by accomplishing, we can breathe the air a little easier.</p>
  </div>
</div>
