<!-- Contact Page -->
<div class="page_spacing">
  <h1><center>Contact Us</center></h1>
  <center>
  <div class="text-box" style="padding: 10px;background-color: rgba(0,0,0,0.3); border-radius: 10px; max-width: 400px;">
    <p style="font-size:large;color:white;">&#149;  Have questions or comments?<br>
    &#149;  Want to provide suggestions?<br>
    &#149;  Encountered a bug or having problems with our website or app?<br><br>
    Please e-mail us at:<br></p> 
    <p style="font-size:x-large;color:#3399ff;">af14uofu@gmail.com</p>
  </div>
</div>
</center>
