// CSS FILE
/* GLOBAL STYLES */
/* Padding below the footer and lighter body text */

body {
  font-family: 'Lato', sans-serif;
  color: #5a5a5a;
}

.spacing
{
  margin-top:100px;
}

.devise_error
{
  ul
  {
    list-style-type: none;
  }
}




