     <!-- FOOTER -->
     <!--<div style="padding-top:50px"></div> -->
      <footer>
        <p class="pull-right" style="margin-right:50px;"><a href="#">Back to top</a></p>
        <p style="margin-left:50px;">© 2014 Turn The Tide · <%= link_to "Contact", contact_path %>
      </footer>
